<html>

<body>
    <center>
        <div style="background-color: #f4f6f8; max-width: 840px; margin: 0; padding: 30px;">
            <h2 style="color: #109cf1; text-align: center;">Solicitação de alteração de senha</h2>
            <p style="color: #93a9bb; font-size: 16px; font-weight: 400; margin: 0;">
                Para alterar sua senha clique no botão abaixo, ou acesse o seguinte link:
            </p>
            <div
                style="margin: 20px auto; width: 180px; padding: 8px 22px; background-color: #109cf1; border-radius: 5px; text-align: center; font-size: 0.9375rem;">
                <a href="{{host}}/reset-password/?token={{token}}" target="_blank" rel="noopener noreferrer"
                    style="text-decoration: none; color: #fff; font-size: 18px; margin: 0 auto;">Alterar Senha</a>
            </div>
        </div>
    </center>
</body>

</html>